@using MVCHomework6.Data.Database;
@model Articles

<div class="card mt-5">
    <img src="@Model.CoverPhoto" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.Body</p>
        @foreach (var tag in Model.Tags.Split(','))
        {
            <a href="#" class="card-link">@tag</a>
        }
    </div>
    <div class="card-footer text-muted">
        Posted on @DateTime.Now.ToString("yyyy-MM-dd") by me
    </div>
</div>
